<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18322345?query=java%20Odessa">Python/Django developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Beetroot</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18649265?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18912593?query=java%20Odessa">Senior Big Data Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18902362?query=java%20Odessa">Senior System Administrator/DevOps</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18832265?query=java%20Odessa">DevOps engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18753346?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18672517?query=java%20Odessa">Software Developer in Test (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18818027?query=java%20Odessa">Java-программист</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Techno art</td> 
     <td class="salary">2&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18924336?query=java%20Odessa">Android developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО webasm</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18924334?query=java%20Odessa">Mid+/Senior PHP developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО webasm</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18614854?query=java%20Odessa">Junior Delevoper</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ENXOO</td> 
     <td class="salary">1&nbsp;000-1&nbsp;100 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18819053?query=java%20Odessa">Android-программист / Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Крот Владислав Дмитриевич</td> 
     <td class="salary">600-600 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18520583?query=java%20Odessa">Водитель такси со своим авто</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Зевс</td> 
     <td class="salary">от 10&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027274">Java разработчик</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029892">Разработчик Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">IT КА Сухорукова</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029992">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TWINO Group</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029718">Программист Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 70 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029069">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029872">Java developer \ Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary">От 90 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029884">Архитектор Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">СИБИНТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028655">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029868">Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИСТ</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029550">Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">SiFOX</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029905">Java разработчик</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026453">Разработчик Java EE (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sputnik Development</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029912">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029580">Старший/Ведущий Java разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Руббери</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029507">Java-разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021415">Счастливый JAVA программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 130 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028267">Sr. Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 200 до 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Разработчик BostonGene Cloud Platform на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027277">Ведущий Java разработчик/TeamLead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВИНГРИД</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029544">Senior Java Backend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ДругВокруг</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028030">Методист/Преподаватель курса "Разработка под Android на языке Java"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029970">​Вакансия для Java Core Разработчика в г.Минске</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 1 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030005">Java разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">Компания им. muratovaevgeniya</td> 
     <td class="salary">От 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029922">Frontend-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">i'way</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028556">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 140 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029501">Deployment Specialist / Release Manager</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029420">Android-developer (Андроид-разработчик)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MONS</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029858">PostgreSQL Developer / PostgreSQL-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">e2e4</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029988">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029719">QA automation engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 80 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029920">Team Leader</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Critical Issue</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030004">Программист</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Intersoft</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029874">Configuration manager / Build Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Cleverfour</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027570">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028963">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">streetbee</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023012">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Charge Limited</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029785">Разработчик мобильных решений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029242">Андроид-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ExactFarming</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028277">Методист/преподаватель вебинаров по Ruby (RoR)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029196">Full Stack PHP-разработчик (AngularJS)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028017">Senior Android developer(Lead)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spersy</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029023">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">i'way</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029737">Scala developer/Архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания им. mhr1</td> 
     <td class="salary">До 400 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029666">Senior Android Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NIMB</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029508">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">7 glyphs Limited</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029786">Разработчик мобильных решений для iOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">КРОК инкорпорейтед</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029570">Разработчик для blockchain проекта</a></td> 
     <td class="city"></td> 
     <td class="companyName">Разработчик для blockchain проекта.</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029775">Разработчик Python</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary">От 70 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029960">SQL-разработчик (Отдел DWH)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029485">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Ренессанс Кредит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029731">Team Lead команды разработчиков</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029641">Project / Product Manager</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029933">Ведущий разработчик Andoid приложения</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">United Media Agency</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029493">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AT Consulting</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029695">Бэкенд разработчик, разработчик ПО</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SmartData</td> 
     <td class="salary">От 110 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029774">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CallRec</td> 
     <td class="salary">От 40 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029383">Remote Ruby On Rails Junior</a></td> 
     <td class="city"></td> 
     <td class="companyName">IDFLY Digital Lab</td> 
     <td class="salary">От 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029739">Android developer 2000 руб./час</a></td> 
     <td class="city"></td> 
     <td class="companyName">Moda Brands</td> 
     <td class="salary">От 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012179">Android разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Surf</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029696">iOS/Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">imbaLab</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027990">Бэкенд разработчик / Разработчик iOS и Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Yard Capital</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029415">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Incode</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029783">React Native Developer</a></td> 
     <td class="city">Черкассы</td> 
     <td class="companyName">Trinity Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029756">Разработчик приложений для Android</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ракета</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029936">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029244">Разработчик frontend ( ember.js )</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ExactFarming</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029522">PHP-программист (Drupal/Битрикс)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Айпартнер | Бинет</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco US</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024665">Разработчики iOS и ANDROID</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gstudio</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029793">Python Developer at Edwin</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Change</td> 
     <td class="salary">До 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029245">Разработчик backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ExactFarming</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029469">Back-end Team Lead (php)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PixelSet</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029980">Middle Android Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">mobidoo.io</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029927">Ведущий разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dodo IS</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029854">PHP разработчик/Backend разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Play</td> 
     <td class="salary">От 50 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029527">Разработчик C++ / Unreal Engine 4 (Game Development)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029692">Senior Data Engineer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 50 до 55 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029975">Middle / Senior DevOps Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary">До 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>